[auth]
brand_account = 101234229123420379537
headers = headers_auth_json_as_string
headers_file = ./tests/headers_auth.json

# These require private videos/albums/etc for auth testing
[private]
brand_account_playlist = owned_playlist_id

[uploads]
file = song_in_tests_directory.mp3
private_album_id = sample_id_of_private_album
private_artist_id = sample_id_of_private_artist